/* .products-container{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    padding: 100;

} */
img{
    width: 310px;
    height: 250px;
    transition:all 0.3s ease;
    
   
}
img:hover{
    transform: scale(1.1);
}
.card-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-description{
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    
}