.reg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .card-Register-header{
    color: beige;
    }
  /* .card{
      width: 500px;
      height: 40%;
  } */